*{
  padding: 0;
  margin: 0;
}


section {
  padding: 40px 0;
  overflow: hidden;
}
.header {
  position: relative;
}
.header img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}
/* navbar Start */

.navbar-nav .nav-link {
  color: #fff !important;
}

/* navbar End */

/* About Us Start*/

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #151515;
}
.section-title {
  padding-bottom: 40px;
  text-align: center;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffde9e;
  margin: 4px 10px;
}
.section-title h2::before {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffde9e;
  margin: 4px 10px;
}

.vision {
  margin-top: 20px;
  padding-top: 20px;
}

.vision .icon-box {
  padding-left: 15px;
}

.vision .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.vision .icon-box i {
  font-size: 48px;
  float: left;
  color: #ffc451;
}

.vision .icon-box p {
  font-size: 15px;
  /* color: #848484; */
  margin-left: 60px;
}

#mission ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mission ul i {
  padding-right: 2px;
  color: #ffc451;
  font-size: 18px;
  line-height: 1;
}

#mission ul li {
  padding: 0px 0;
  display: flex;
  align-items: center;
}

#mission ul li:first-child {
  padding-top: 0;
}
#mission .icon-box i {
  font-size: 48px;
  float: left;
  color: #ffc451;
}
#mission .icon-box1 i {
  font-size: 25px;
  float: left;
  color: #ffc451;
}

/* About Us End */

/* Team start */
.team {
  background: #fff;
  padding: 20px 0;
  margin-top: 80px;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}
/* 
.team .member .social a {
  transition: color 0.3s;
  color: #151515;
  margin: 0 3px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.8);
  transition: ease-in-out 0.3s;
  color: #484848;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.team .member .social a:hover {
  color: #151515;
  background: #ffc451;
} */

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #151515;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  /* color: #aaaaaa; */
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/* Team End */

/* Services Start */
.nav-tabs{
  border-bottom: none !important;
  cursor: pointer;
}
.tab-content{
  margin-top: 20px;
}
.card{
  background-color: white !important;
}

/* Services End */





/* Footer Start */

#footer {
  background: black;
  padding: 0 0 20px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #151515;
  border-bottom: 1px solid #222222;
  padding: 30px 0 20px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
  font-size: larger;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #292929;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #ffc451;
  color: #151515;
  text-decoration: none;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffc451;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ffc451;
}
#footer .footer-top .footer-address {
  font-size: larger;
}
#footer .copyright {
  text-align: center;
  padding-top: 20px;
}

/* Footer End */
